.section-icons .card-panel {
  height: 300px;
}

.collection-header {
  background-image: url(img/map.png);
}
.knit {
  height: 75px;
  width: 75px;
}

.contact-icons {
  margin-top: 30px;
}

.perks {
  height: auto;
  overflow-y: hidden;
}

.gallery img {
  height: 400px !important;
}

.angkor-img {
  height: 40px;
  width: 40px;
  padding-top: 10px;
  /* background-color: white; */
}
